.container {
    width: 70%;
    margin-left: 5%;
    text-align: left;
}
.title {
    text-align: center;
    color: firebrick;
}
.task-wrapper {
    border-bottom: 4px double yellowgreen;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
h2 {
    color: coral;
}
hr {
    width: 20%;
    display: inline-block;
    text-align: left;
}
.table {
    border: 1px solid grey;
    margin-bottom: 15px;
}
.table tr {
    height: 21px;
}

.table th {
    text-align: center;
}

.table td {
    width: 21px;
    text-align: center;
}

.order__title {
    text-align: center;
}

.order__date {
    text-align: right;
}

.order__shipping-info {
    text-align: right;
    font-size: 15px;
    margin: 10px 0 5px;
}

.order__shipping-info strong {
    font-size: 16px;
    text-decoration: underline;
}

.order__notes {
    text-align: right;
    margin-bottom: 30px;
}

.order table {
    width: 85%;
}
.order table tr:first-child {
    height: 30px;
}

.order table td {
    text-align: center;
}

.order__billing-info {
    text-align: right;
    font-size: 14px;
}

